.contact {
  width: 90%;
  margin: 40px auto;
}

.contact__title {
  margin-bottom: 20px;
  text-align: center;
}

.contact__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
}

.contact__content p:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
}

.contact__content p:nth-child(2) {
  font-size: 16px;
  overflow-wrap: break-word;
}
.contact__quickLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.contact__quickLink {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid var(--text-color);
  cursor: pointer;
}

.contact__quickLink:hover {
  border: 2px solid orange;
}

.contact__quickLink--twitter:hover {
  background: #1DA1F2;
}

.contact__quickLink--linkedin:hover {
  background: #0077B5;
}

.contact__quickLink--github:hover {
  background: grey;
}

.contact__quickLink--gmail:hover {
  background: #D14836;
}

.contact__quickLink .contact__icon {
  fill: var(--text-color);
  transform: scale(0.8);
  transition: transform 1s ease-in-out;
}

.contact__quickLink:hover .contact__icon {
  transform: scale(0.8) rotateY(360deg);
}

@media (max-width: 600px) and (orientation: portrait),
(max-width: 768px) and (orientation: landscape) {
  .contact {
    margin: 20px auto;
  }

  .contact__title {
    font-size: 18px;
  }

  .contact__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact__content p:nth-child(1) {
    font-size: 16px;
    font-weight: 400;
  }

  .contact__content p:nth-child(2) {
    font-size: 14px;
  }

  .contact__quickLink {
    width: 40px;
    height: 40px;
  }
}