.introduction {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1.75fr;
}

.introduction__content {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.introduction__content p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
}

.introduction__content p:nth-child(2) {
  font-size: 18px;
}

.introduction__content p:nth-child(3) {
  word-break: break-all;
}

.introduction__content span {
  display: inline-flex;
  font-size: 16px;
  padding: 10px 20px;
  margin: 15px 20px 0px 0px;
  border-left: 2px solid orange;
  box-shadow: 1px 1px 10px gray;
}

.introduction__image {
  width: 75%;
  object-fit: contain;
}

@media (max-width: 1023px) and (orientation: portrait),
 (max-height: 500px) and (orientation: portrait) {
  .introduction {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .introduction__image {
    width: 100%;
  }
}

@media (max-width: 600px) and (orientation: portrait),
(max-width: 768px) and (orientation: landscape) {
  .introduction__content p:nth-child(1) {
    font-size: 18px;
  }

  .introduction__content p:nth-child(1) {
    font-size: 16px;
  }

  .introduction__content p:nth-child(2),
  .introduction__content p:nth-child(3),
  .introduction__content span {
    font-size: 14px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .introduction {
    display: block;
  }

  .introduction__image {
    width: 150px;
    float: left;
    margin: 0 10px 0px 0;
  }
}

/* @media (max-width: 1023px) and (orientation: landscape) {
  .introduction {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }

  .introduction__image {
    width: 200px;
  }
} */