* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text-color);
}

html[data-theme='dark'] {
  --background-color: #202124;
  --text-color: #E8EAEd;
  --header-bg: linear-gradient(135deg, #b0892f, #c96a3d);
}

html[data-theme='light'] {
  --background-color: white;
  --text-color: black;
  --header-bg: linear-gradient(135deg, #f6d365, #fda085);
}